.todo {
  /* width: 80%;
    min-width: 400px; */
  width: max(80%, 400px); /*보통은 80% 최소 400px */
  margin: 20px auto; /*위아래 :20xpx, 좌우 : auto*/
  /* background-color: rgb(0, 138, 0); */
  padding: 20px;
  border-radius: 16px;
  /* box-shadow: 0 2px 4px rgb(92, 252, 0, 0.5); 세로 : 아래로 2px, blur 4px */
}
.todo__form {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.todo__input {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  flex: 1; /* display : flex 안의 아이텝 중 여유 공간만큼 늘리자 */
}
.todo__button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}
.todo__button--add {
  background-color: cornflowerblue;
  color: white;
}

.todo__item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo__check {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo__label {
    margin-left: 0 10px;
}

.todo__button--edit, .todo__button--delete {
    font-size: 0.8rem;
}

.todo__item--complete .todo__label {
    text-decoration: line-through;
    color: #999;
}